* {
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  scroll-behavior: smooth;
}

body {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  margin: 5px;
  padding: 5px;
  font-size: 1.2rem;
  background-color: white;
  color: black;
}

@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .presentation {
    flex-direction: column;
  }
  .presentation > img {
    width: auto;
    align-items: center;
  }
  .row {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
  .presentation {
    flex-direction: row;
  }
  .row {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

h1 h2 {
  color: #ad0729;
}

.row {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15%;
}

.presentation__title {
  text-align: center;
  font-family: "mrs-eaves", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  font-style: italic;
  color: #ad0729;
}

.presentation > img {
  width: 300;
  height: 300;
  background-size: cover;
  border-radius: 50%;
  margin: 0 auto;
}

nav {
  border: 3px solid black;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #48435c;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: #fcf2c4;
  text-decoration: none;
  font-weight: 600;
  display: block;
  padding: 0.5rem 1rem;
}

nav a:focus {
  background-color: #48435c;
  color: white;
}

nav a:hover {
  color: #9792e3;
}

#sobremi {
  background-color: #fcf2c4;
  color: #48435c;
  padding: 10%;
}

#educacion {
  color: #48435c;
  padding: 5%;
}

#experiencia {
  background-color: #9792e3;
  color: black;
}

#habilidades {
  color: #48435c;
}

#contacto {
  background-color: #fcf2c4;
  color: #48435c;
}

footer {
  background-color: #48435c;
  color: #cfcee0;
}

footer a:hover {
  color: white;
}

.btn-top {
  position: fixed;
  bottom: -50px;
  right: 20px;
  font-size: 16px;
  padding: 15px 20px;
  background-color: rgb(252, 242, 196, 0.5);
  color: #48435c;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.btn-top.show {
  bottom: 20px;
}
